---
import BlockExampleLayout from "@/components/BlockExampleLayout.astro";
import { Button } from "@bejamas/ui/components/button";
import { Card, CardMedia, CardHeader, CardTitle, CardDescription, CardOverlay } from "@bejamas/ui/components/card";
import { ArrowRight } from "@lucide/astro";
---

<BlockExampleLayout>
  <div
    class="max-w-5xl py-20 mx-auto [container-type:inline-size] text-foreground"
  >
    <h2 class="font-medium mb-5 leading-none text-[clamp(2rem,12cqw,6rem)]">
      you can just eat eggs
    </h2>

    <div class="grid grid-cols-4 gap-4">
      <Card variant="ghost" orientation="horizontal">
        <CardMedia class="relative">
          <img
            src="https://pbs.twimg.com/media/G0x-gkSbcAAaH3Z?format=jpg&name=large"
            class="rounded-xl"
          />
          <span
            class="absolute top-4 left-4 bg-primary text-primary-foreground px-2 py-1 text-sm font-mono rounded-md"
          >
            01
          </span>
        </CardMedia>
        <CardHeader variant="ghost">
          <CardTitle> Healthy breakfast </CardTitle>
          <CardDescription> Eggs are a great source of protein. </CardDescription>
        </CardHeader>
      </Card>

      <Card variant="ghost">
        <CardMedia class="relative">
          <img
            src="https://pbs.twimg.com/media/G0x-gj6bAAAJkHH?format=jpg&name=large"
            class="rounded-xl"
          />
          <span
            class="absolute top-4 left-4 bg-primary text-primary-foreground px-2 py-1 text-sm font-mono rounded-md"
          >
            02
          </span>
        </CardMedia>
        <CardHeader>
          <CardTitle>Healthy lunch</CardTitle>
          <CardDescription>
            Egg benefits your heart and brain.
          </CardDescription>
        </CardHeader>
        <CardOverlay variant="glass">
          <p>Egg benefits your heart and brain.</p>
        </CardOverlay>
      </Card>

      <Card variant="ghost">
        <CardMedia class="relative">
          <img
            src="https://pbs.twimg.com/media/G0x-gkLaUAA1pnb?format=jpg&name=large"
            class="rounded-xl"
          />
          <span
            class="absolute top-4 left-4 bg-primary text-primary-foreground px-2 py-1 text-sm font-mono rounded-md"
          >
            03
          </span>
        </CardMedia>
        <CardHeader>
          <CardTitle>Healthy dinner</CardTitle>
          <CardDescription>
            Egg is a good source of protein.
          </CardDescription>
        </CardHeader>
      </Card>

      <Card variant="ghost">
        <CardMedia class="relative">
          <img
            src="https://pbs.twimg.com/media/G0x-gkXbcAQMBaT?format=jpg&name=large"
            class="rounded-xl"
          />
          <span
            class="absolute top-4 left-4 bg-primary text-primary-foreground px-2 py-1 text-sm font-mono rounded-md"
          >
            04
          </span>
        </CardMedia>
        <CardHeader>
          <CardTitle>Healthy snack</CardTitle>
          <CardDescription>
            Egg is a good base for a snack.
          </CardDescription>
        </CardHeader>
      </Card>
    </div>
    <div
      class="border-t border-border pt-3 mt-1 flex justify-between items-center gap-4"
    >
      <p class="text-sm">It's time to eat some eggs</p>
      <Button variant="secondary">
        Make omelette <ArrowRight class="size-4" />
      </Button>
    </div>
  </div>
</BlockExampleLayout>
