---
import "@/styles/globals.css";
import { appUi } from "@/i18n/ui";
---

<!doctype html>
<html lang={appUi.lang} dir={appUi.dir}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{appUi.metadataTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
