---
import type { BlogAuthor } from "@/utils/blog";

import BlogAuthorChip from "./BlogAuthorChip.astro";

interface Props {
  authors: BlogAuthor[];
}

const { authors } = Astro.props as Props;
---

<div class="not-content mt-6 mb-10">
  <div class="flex flex-wrap gap-6">
    {
      authors.map((author) => (
        <BlogAuthorChip author={author} showRole={true} />
      ))
    }
  </div>
</div>
