---
import Tabs from "@bejamas/ui/components/Tabs.astro";
import Button from "@bejamas/ui/components/Button.astro";
import { Laptop, Tablet, Smartphone } from "@lucide/astro";
import Source from "@/components/Source.astro";

const item = Astro.props.item;
---

<div x-data="{ size: 'desktop' }">
  <Tabs>
    <div class="flex justify-between">
      <div slot="tablist" class="space-x-2 mb-4">
        <Button
          role="tab"
          size="sm"
          aria-selected="true"
          variant="ghost"
          class="aria-selected:bg-primary aria-selected:text-primary-foreground"
          >Preview</Button
        >
        <Button
          role="tab"
          size="sm"
          variant="ghost"
          class="aria-selected:bg-primary aria-selected:text-primary-foreground"
          >Source</Button
        >
      </div>
      <div class="flex space-x-2">
        <Button
          size="sm"
          size="icon"
          variant="ghost"
          title="Desktop"
          @click="size = 'desktop'"
        >
          <Laptop class="size-4" />
        </Button>
        <Button
          size="sm"
          size="icon"
          variant="ghost"
          title="Tablet"
          @click="size = 'tablet'"
        >
          <Tablet class="size-4" />
        </Button>
        <Button
          size="sm"
          size="icon"
          variant="ghost"
          title="Smartphone"
          @click="size = 'smartphone'"
        >
          <Smartphone class="size-4" />
        </Button>
      </div>
    </div>
    <div role="tabpanel">
      <iframe
        src={item.href}
        class="w-full h-full min-h-[800px] border border-border rounded-2xl data-[size='desktop']:max-w-full data-[size='tablet']:max-w-3xl data-[size='smartphone']:max-w-sm"
        :data-size="size"></iframe>
    </div>
    <div role="tabpanel" hidden>
      <Source href={item.href} />
    </div>
  </Tabs>
</div>
