---
import { cn } from "@bejamas/ui/lib/utils";
import type { HTMLAttributes } from "astro/types";

import DialogClose from "./DialogClose.astro";
import DialogOverlay from "./DialogOverlay.astro";
import SemanticIcon from "../icon/SemanticIcon.astro";

interface Props extends HTMLAttributes<"div"> {
  showCloseButton?: boolean;
}

const {
  showCloseButton = true,
  class: className = "",
  ...rest
} = Astro.props as Props;
---

<div data-slot="dialog-portal" class="cn-dialog-portal z-50 isolate absolute">
  <DialogOverlay />
  <div
    data-slot="dialog-content"
    hidden
    class={cn(
      "cn-dialog-content",
      "bg-background data-open:animate-in data-closed:animate-out data-closed:fade-out-0 data-open:fade-in-0 data-closed:zoom-out-95 data-open:zoom-in-95 ring-foreground/10 fixed top-[50%] left-[50%] grid w-full max-w-[calc(100%-2rem)] translate-x-[-50%] translate-y-[-50%] gap-6 rounded-xl p-6 text-sm ring-1 duration-100 outline-none sm:max-w-md",
      className,
    )}
    {...rest}
  >
    <slot />
    {
      showCloseButton && (
        <DialogClose>
          <SemanticIcon name="x" />
          <span class="sr-only">Close</span>
        </DialogClose>
      )
    }
  </div>
</div>
