---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@bejamas/ui/lib/utils";

interface Props extends HTMLAttributes<"p"> {}

const { class: className = "", ...rest } = Astro.props as Props;
---

<p
  data-slot="field-description"
  class={cn(
    "cn-field-description",
    "group-has-data-horizontal/field:text-balance",
    className,
  )}
  {...rest}
>
  <slot />
</p>
