---
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "class-variance-authority";
import { cn } from "@bejamas/ui/lib/utils";

const toggleVariants = cva(
  "group/toggle inline-flex items-center justify-center whitespace-nowrap outline-none transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:shrink-0",
  {
    variants: {
      variant: {
        default: "",
        outline: "",
      },
      size: {
        default: "",
        sm: "",
        lg: "",
      },
    },
    defaultVariants: {
      variant: "default",
      size: "default",
    },
  }
);

type ToggleVariantProps = VariantProps<typeof toggleVariants>;

interface Props extends ToggleVariantProps, Omit<HTMLAttributes<"button">, "class"> {
  value: string;
  disabled?: boolean;
  class?: string;
}

const {
  value,
  variant,
  size,
  disabled,
  class: className = "",
  ...rest
} = Astro.props as Props;
---

<button
  type="button"
  data-slot="toggle-group-item"
  data-value={value}
  disabled={disabled}
  class={cn(
    "cn-toggle-group-item",
    toggleVariants({ variant, size }),
    "rounded-none shadow-none",
    "group-data-[orientation=horizontal]/toggle-group:first:rounded-s-md",
    "group-data-[orientation=horizontal]/toggle-group:last:rounded-e-md",
    "group-data-[orientation=vertical]/toggle-group:first:rounded-t-md",
    "group-data-[orientation=vertical]/toggle-group:last:rounded-b-md",
    "group-data-[orientation=horizontal]/toggle-group:group-data-[variant=outline]/toggle-group:border-s-0",
    "group-data-[orientation=horizontal]/toggle-group:group-data-[variant=outline]/toggle-group:first:border-s",
    "group-data-[orientation=vertical]/toggle-group:group-data-[variant=outline]/toggle-group:border-t-0",
    "group-data-[orientation=vertical]/toggle-group:group-data-[variant=outline]/toggle-group:first:border-t",
    "group-data-[orientation=vertical]/toggle-group:group-data-[variant=outline]/toggle-group:border-x",
    className
  )}
  {...rest}
>
  <slot />
</button>
