---
interface Props {
  value: string;
  suffix?: string;
  description: string;
}

const { value, suffix, description } = Astro.props;
---

<div class="border-b border-border pb-4 flex flex-col-reverse sm:flex-row md:items-end sm:justify-between gap-2 sm:gap-4">
  <p class="text-muted-foreground text-base">
    {description}
  </p>
  <div class="flex items-start gap-2 text-foreground font-medium lg:min-w-60 sm:min-w-40">
    <span class="text-20 lg:text-40 leading-none tracking-tighter">
      {value}
    </span>
    {suffix && (
      <span class="text-8 lg:text-12 leading-[1.2] tracking-tight">
        {suffix}
      </span>
    )}
  </div>
</div>
