---
import BlockExampleLayout from "@/components/BlockExampleLayout.astro";
import Card from "./components/card.astro";

const plans = [
  {
    name: "Starter",
    price_main: "$4",
    price_cents: ".95",
    description:
      "Explore proven methods to grow your wealth through smart saving, strategic investing, and disciplined financial planning — empowering you to achieve lasting stability and long-term success.",
  },
  {
    name: "Essential",
    price_main: "$8",
    price_cents: ".95",
    description:
      "Explore proven methods to grow your wealth through smart saving, strategic investing, and disciplined financial planning — empowering you to achieve lasting stability and long-term success.",
  },
  {
    name: "Ultra",
    price_main: "$14",
    price_cents: ".95",
    description:
      "Explore proven methods to grow your wealth through smart saving, strategic investing, and disciplined financial planning — empowering you to achieve lasting stability and long-term success.",
  },
];
---

<BlockExampleLayout>
  <section class="bg-background py-40 px-8 text-foreground">
    <div class="mx-auto max-w-384">
      <div class="flex flex-col items-center gap-6 mb-12 lg:mb-30">
        <h2 class="text-center font-semibold text-[clamp(2.5rem,6vw,4rem)] leading-[1.1] tracking-tight text-foreground">
          Powerful Value, Clear Prices
        </h2>
        <p class="max-w-140 text-foreground text-center text-lg md:text-xl font-medium leading-normal tracking-tight">
          Choose a plan that fits your goals — no hidden fees, just straightforward value.
        </p>
      </div>

      <div class="grid grid-cols-1 gap-4 lg:gap-8 md:grid-cols-3">
        {plans.map((plan) => (
          <Card {...plan} />
        ))}
      </div>
    </div>
  </section>
</BlockExampleLayout>
