---
import BlockExampleLayout from "@/components/BlockExampleLayout.astro";

import { Button } from "@bejamas/ui/components/button";
import NavigationMenu from "@/ui-next/NavigationMenu.astro";
import {
  DropdownMenu,
  DropdownMenuTrigger,
  DropdownMenuContent,
  DropdownMenuItem,
  DropdownMenuGroup,
  DropdownMenuLabel,
  DropdownMenuSeparator,
  DropdownMenuShortcut,
} from "@bejamas/ui/components/dropdown-menu";
import { StickySurface } from "@bejamas/ui/components/sticky-surface";
---

<BlockExampleLayout>
  <div class="bg-muted min-h-[1500px]">
    <div class="bg-muted text-muted-foreground p-4 w-full text-center">
      New release available! See the <a
        href="/releases/v1.0.0"
        class="text-primary">changelog</a
      > for more details.
    </div>
    <StickySurface effects={["line"]} threshold="1rem" observeStuck>
      <NavigationMenu>
        <div slot="logo" class="flex items-center h-full">
          <img
            src="https://cdn.prod.website-files.com/624380709031623bfe4aee60/668b2b16e18e604c50a1362c_Logo-wide.svg"
            alt="Acme, Inc."
            class="h-8"
          />
        </div>
        <ul slot="links" class="flex items-center space-x-2">
          <li><Button as="a" href="/" variant="ghost">Home</Button></li>
          <li>
            <DropdownMenu>
              <DropdownMenuTrigger>Company</DropdownMenuTrigger>
              <DropdownMenuContent>
                <ul>
                  <li>
                    <Button
                      href="#"
                      as="a"
                      variant="ghost"
                      class="w-full justify-start">About</Button
                    >
                  </li>
                  <li>
                    <Button
                      href="#"
                      as="a"
                      variant="ghost"
                      class="w-full justify-start">Team</Button
                    >
                  </li>
                  <li>
                    <Button
                      href="#"
                      as="a"
                      variant="ghost"
                      class="w-full justify-start">Blog</Button
                    >
                  </li>
                  <li>
                    <Button
                      href="#"
                      as="a"
                      variant="ghost"
                      class="w-full justify-start">Careers</Button
                    >
                  </li>
                </ul>
              </DropdownMenuContent>
            </DropdownMenu>
          </li>
          <li>
            <Button as="a" href="/contact" variant="ghost">Contact</Button>
          </li>
        </ul>
        <div slot="actions" class="flex items-center gap-2">
          <Button
            variant="outline"
            class="group-[.is-stuck]/surface:opacity-0 group-[.is-stuck]/surface:blur-sm transition-all duration-300 ease-out"
            >Log in</Button
          >
          <Button
            class="w-20 group-[.is-stuck]/surface:w-25 duration-500 ease-out"
          >
            <span
              class="group-[.is-stuck]/surface:blur-sm group-[.is-stuck]/surface:opacity-0 absolute group-[.is-stuck]/surface:hidden transition-discrete duration-500 ease-out"
              >Contact</span
            >
            <span
              class="group-[.is-stuck]/surface:blur-none group-[.is-stuck]/surface:opacity-100 group-[.is-stuck]/surface:delay-150 group-[.is-stuck]/surface:block opacity-0 transition-all hidden blur-sm transition-discrete duration-500 ease-out"
              >Get a demo</span
            >
          </Button>
        </div>
      </NavigationMenu>
    </StickySurface>
  </div>
</BlockExampleLayout>
