---
import { cn } from "@bejamas/ui/lib/utils";
import type { HTMLAttributes } from "astro/types";

type TooltipSide =
  | "top"
  | "bottom"
  | "left"
  | "right"
  | "inline-start"
  | "inline-end";

interface Props extends HTMLAttributes<"div"> {
  class?: string;
  sideOffset?: number;
  side?: TooltipSide;
  align?: "start" | "center" | "end";
  alignOffset?: number;
}

const {
  class: className = "",
  sideOffset,
  side = "top",
  align = "center",
  alignOffset,
  ...rest
} = Astro.props as Props;
---

<div data-slot="tooltip-portal">
  <div data-slot="tooltip-positioner" class="isolate z-50">
    <div
      {...rest}
      hidden
      data-slot="tooltip-content"
      data-side={side}
      data-side-offset={sideOffset}
      data-align={align}
      data-align-offset={alignOffset}
      class={cn(
        "relative cn-tooltip-content cn-tooltip-content-logical z-50 w-fit max-w-xs origin-(--transform-origin) bg-foreground text-background",
        className,
      )}
    >
      <slot />
      <div
        data-slot="tooltip-arrow"
        class={cn(
          "absolute cn-tooltip-arrow cn-tooltip-arrow-logical z-50 bg-foreground fill-foreground",
          "data-[side=top]:-bottom-1",
          "data-[side=bottom]:-top-1",
          "data-[side=left]:-right-1",
          "data-[side=right]:-left-1",
        )}
      >
      </div>
    </div>
  </div>
</div>
