---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@bejamas/ui/lib/utils";

interface Props extends HTMLAttributes<"div"> {
  class?: string;
}

const { class: className = "", ...rest } = Astro.props as Props;
---

<div
  {...rest}
  data-slot="select-label"
  class={cn("cn-select-label text-muted-foreground px-1.5 py-1 text-xs", className)}
>
  <slot />
</div>
