---
import BlockExampleLayout from "@/components/BlockExampleLayout.astro";
import StatItem from "./components/stat-item.astro";
---

<BlockExampleLayout>
  <div class="max-w-400 py-20 md:py-40 mx-auto px-4 md:px-8 @container text-foreground">
    <div class="flex flex-col lg:flex-row lg:justify-between gap-10 lg:gap-[10%]">
      <div class="w-full lg:max-w-120 flex flex-col justify-between gap-10">
        <div class="flex flex-col sm:flex-row gap-4">
          <img class="rounded-sm w-full object-cover aspect-ratio-square h-76" src="https://gradient.bejamas.com/api/gradient.png?color=7c5cff&funkiness=15&contrast=0&noise=0&w=800&h=600&seed=9zqtablo&shape=ellipse">
          <img class="rounded-sm w-full object-cover aspect-ratio-square h-76" src="https://gradient.bejamas.com/api/gradient.png?color=7c5cff&funkiness=15&contrast=0&noise=0&w=800&h=600&seed=9zqtablo&shape=ellipse">
        </div>
        <h2 class="font-semibold text-12 lg:text-16 tracking-tight leading-[1.1] text-balance">Our capabilites in numbers</h2>
      </div>
      <div class="w-full lg:max-w-190 flex flex-col justify-end gap-9">
        <StatItem value="$3" suffix="B+" description="Approximate earning in year 2025"/>
        <StatItem value="14" suffix="" description="Locking duration in days quickly"/>
        <StatItem value="98" suffix="%" description="A proven record of customer satisfaction"/>
        <StatItem value="27" suffix="" description="Grew our network with exciting new collaborators"/>
      </div>
    </div>
  </div>
</BlockExampleLayout>
