@layer base, starlight, bejamas, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@import "@bejamas/ui/styles/globals.css";

.site-title img {
  max-width: 20px;
}
