@layer base, starlight.reset, starlight, bejamas, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "@bejamas/ui/styles/globals.css";
@source "../**/*.{ts,tsx,astro,mdx,md}";
@source "../../../packages/registry/src/**/*.{ts,tsx,astro,mdx,md}";

.site-title img {
  max-width: calc(var(--spacing) * 12);
  margin-bottom: calc(var(--spacing) * 1.25);
}

@media (min-width: 64rem) {
  .site-title img {
    max-width: calc(var(--spacing) * 10);
  }
}
