@layer base, starlight.reset, starlight, bejamas, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

.site-title img {
  max-width: calc(var(--spacing) * 12);
  margin-bottom: calc(var(--spacing) * 1.25);
}

@media (min-width: 64rem) {
  .site-title img {
    max-width: calc(var(--spacing) * 10);
  }
}
