---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@bejamas/ui/lib/utils";

interface Props extends HTMLAttributes<"div"> {
  disabled?: boolean;
  inset?: boolean;
  value?: string;
  class?: string;
}

const {
  disabled = false,
  inset = false,
  value,
  class: className = "",
  ...rest
} = Astro.props as Props;
---

<div
  {...rest}
  role="menuitem"
  tabindex={disabled ? -1 : 0}
  data-slot="dropdown-menu-item"
  data-value={value}
  data-disabled={disabled ? "" : undefined}
  class={cn(
    "cn-dropdown-menu-item",
    "relative flex cursor-default select-none items-center outline-none",
    "data-[disabled]:pointer-events-none data-[disabled]:opacity-50",
    "group/dropdown-menu-item",
    inset && "pl-8",
    className,
  )}
>
  <slot />
</div>
