---
interface Props {
  value: string;
  suffix?: string;
  description: string;
}

const { value, suffix, description } = Astro.props;
---

<div class="border-l border-border pl-6">
  <p class="text-muted-foreground text-base lg:mb-48 md: md:mb-32 mb-8">
    {description}
  </p>
  <div class="flex gap-2 text-foreground font-medium">
    <span class="text-20 lg:text-30 leading-none tracking-tighter">
      {value}
    </span>
    {suffix && (
      <span class="text-8 lg:text-12 leading-[1.2] tracking-tight">
        {suffix}
      </span>
    )}
  </div>
</div>
