---
import BlockExampleLayout from "@/components/BlockExampleLayout.astro";
import StatItem from "./components/stat-item.astro";
---

<BlockExampleLayout>
  <div class="max-w-400 py-20 md:py-40 mx-auto px-4 md:px-8 @container text-foreground">
    <h2 class="mb-20 lg:mb-40 font-semibold text-12 lg:text-16 tracking-tight leading-[1.1] text-balance max-w-110">Our capabilites in numbers</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      <StatItem value="$80" description="Companies growing with VIRA" />
      <StatItem value="$2" suffix="B+" description="Companies growing with VIRA" />
      <StatItem value="95" description="Companies growing with VIRA" />
      <StatItem value="200" suffix="%" description="Companies growing with VIRA" />
    </div>
  </div>
</BlockExampleLayout>
