---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@bejamas/ui/lib/utils";

interface Props extends HTMLAttributes<"div"> {
  class?: string;
}

const { class: className = "", ...rest } = Astro.props as Props;
---

<div
  {...rest}
  data-slot="combobox-empty"
  class={cn("cn-combobox-empty", "text-muted-foreground py-2 text-center text-sm", className)}
>
  <slot />
</div>
