---
import BlockExampleLayout from "@/components/BlockExampleLayout.astro";
import { Button } from "@bejamas/ui/components/button";
import {
  Dropdown,
  DropdownTrigger,
  DropdownContent,
} from "@bejamas/ui/components/dropdown";
import { StickySurface } from "@bejamas/ui/components/sticky-surface";
import {
  Breadcrumb,
  BreadcrumbList,
  BreadcrumbItem,
  BreadcrumbSeparator,
} from "@bejamas/ui/components/breadcrumb";
import { Separator } from "@bejamas/ui/components/separator";
import {
  LinkGroup,
  LinkGroupTitle,
  LinkGroupList,
  LinkGroupItem,
} from "@bejamas/ui/components/link-group";
import { Input } from "@bejamas/ui/components/input";
import { Label } from "@bejamas/ui/components/label";
import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
  CardContent,
  CardFooter,
} from "@bejamas/ui/components/card";
import {
  SlashIcon,
  BookmarkIcon,
  AlertCircleIcon,
  BadgeCheckIcon,
} from "@lucide/astro";
import {
  Avatar,
  AvatarImage,
  AvatarFallback,
} from "@bejamas/ui/components/avatar";
import { ButtonGroup } from "@bejamas/ui/components/button-group";
import { Textarea } from "@bejamas/ui/components/textarea";
import { Switch } from "@bejamas/ui/components/switch";
import { Badge } from "@bejamas/ui/components/badge";
import { Checkbox } from "@bejamas/ui/components/checkbox";
import { Marquee } from "@bejamas/ui/components/marquee";
import {
  Alert,
  AlertTitle,
  AlertDescription,
} from "@bejamas/ui/components/alert";
import {
  Dialog,
  DialogHeader,
  DialogTitle,
  DialogDescription,
  DialogContent,
  DialogFooter,
} from "@bejamas/ui/components/dialog";
---

<BlockExampleLayout theme="default">
  <section
    class="max-w-7xl pt-0 px-0 pb-10 md:pt-10 lg:py-20 mx-auto sm:px-5 grid grid-cols-1 md:grid-cols-8 lg:grid-cols-12 gap-10"
  >
    <div class="col-span-4 space-y-6">
      <h1 class="text-6xl font-medium leading-none">Aa</h1>
      <ButtonGroup>
        <Button variant="outline"
          ><BookmarkIcon class="size-4" /> Bookmark</Button
        >
        <Button variant="outline" as="span">120</Button>
      </ButtonGroup>

      <div class="flex items-center gap-3">
        <Switch id="notifications" />
        <Label for="notifications">Enable notifications</Label>
      </div>

      <Dialog>
        <Button variant="secondary" data-slot="dialog-trigger"
          >Manage Cookies</Button
        >
        <DialogContent>
          <DialogHeader>
            <DialogTitle>Manage Cookies</DialogTitle>
            <DialogDescription
              >Using websites and apps involves storing and retrieving
              information from your device, including cookies and other
              identifiers, which can be shared with third parties, for various
              activities. We provide a simple tool below allowing you to tailor
              your choices as you deem fit. You can change your consent at any
              time. Learn more.</DialogDescription
            >
          </DialogHeader>
          <div class="mt-5">
            <div class="flex items-center gap-3">
              <Checkbox
                id="cookies-necessary"
                name="cookies-necessary"
                disabled
                checked
              />
              <Label for="cookies-necessary"
                >Strictly Necessary Cookies (always active)</Label
              >
            </div>
            <p class="text-sm text-muted-foreground ml-8 mt-1">
              These cookies are essential for the site to function and cannot be
              toggled off. They assist with security, user authentication,
              customer support, etc.
            </p>
          </div>
          <div class="mt-5">
            <div class="flex items-center gap-3">
              <Checkbox id="cookies-analytics" name="cookies-analytics" />
              <Label for="cookies-analytics">Analytics Cookies</Label>
            </div>
            <p class="text-sm text-muted-foreground ml-8 mt-1">
              These cookies help us understand how visitors interact with our
              site. They allow us to measure traffic and improve site
              performance.
            </p>
          </div>
          <div class="mt-5">
            <div class="flex items-center gap-3">
              <Checkbox
                id="cookies-marketing-performance"
                name="cookies-marketing-performance"
              />
              <Label for="cookies-marketing-performance"
                >Marketing Performance Cookies</Label
              >
            </div>
            <p class="text-sm text-muted-foreground ml-8 mt-1">
              These cookies help us measure the effectiveness of our marketing
              campaigns.
            </p>
          </div>
          <DialogFooter>
            <Button variant="outline" data-slot="dialog-close" class="mt-4"
              >Close</Button
            >
            <Button class="mt-4">Save changes</Button>
          </DialogFooter>
        </DialogContent>
      </Dialog>

      <Alert>
        <BadgeCheckIcon size={40} color="var(--color-green-600)" />
        <AlertTitle>Designed for CMS-driven, long-lived websites.</AlertTitle>
      </Alert>
    </div>

    <div class="col-span-4 space-y-6">
      <Textarea placeholder="Additional information (optional)…" />
      <Card class="w-full">
        <CardHeader>
          <CardTitle> Get the latest updates </CardTitle>
          <CardDescription>
            Enter your email below to get the latest updates
          </CardDescription>
        </CardHeader>

        <CardContent>
          <form>
            <div class="flex flex-col gap-6">
              <div class="grid gap-2">
                <Label for="email">Email</Label>
                <Input type="email" placeholder="m@bejamas.com" required />
              </div>
              <div class="grid gap-2">
                <Label for="name"
                  >Name <span class="text-muted-foreground">(optional)</span
                  ></Label
                >
                <Input type="name" placeholder="John Doe" />
              </div>
            </div>
          </form>

          <p class="text-muted-foreground text-xs mt-4">
            By joining our newsletter, you agree to our <a
              href="#"
              class="underline-offset-4 hover:underline">Terms</a
            > and have read and acknowledge our <a
              href="#"
              class="underline-offset-4 hover:underline">Privacy Statement</a
            >.
          </p>
        </CardContent>

        <CardFooter>
          <Button type="submit" class="w-full">Join our newsletter</Button>
        </CardFooter>
      </Card>

      <Alert>
        <AlertCircleIcon size={32} />
        <AlertTitle>Cookie preferences updated</AlertTitle>
        <AlertDescription>
          You can change your settings at any time.
        </AlertDescription>
      </Alert>
    </div>
    <div class="col-span-4 space-y-6">
      <div class="mb-10">
        <Marquee class="dark:invert">
          <img
            src="/demo/logo/sonos.svg"
            alt="Netflix"
            class="h-5 self-center mx-10"
          />
          <img
            src="/demo/logo/uber.svg"
            alt="Uber"
            class="h-5 self-center mx-10"
          />
          <img
            src="/demo/logo/visa.svg"
            alt="Visa"
            class="h-5 self-center mx-10"
          />
          <img
            src="/demo/logo/coca-cola.svg"
            alt="Coca-Cola"
            class="h-6 self-center mx-10"
          />
          <img
            src="/demo/logo/nike.svg"
            alt="Nike"
            class="h-5 self-center mx-10"
          />
        </Marquee>
      </div>

      <div
        class="*:data-[slot=avatar]:ring-background flex -space-x-2 *:data-[slot=avatar]:ring-2 *:data-[slot=avatar]:grayscale items-center"
      >
        <Avatar>
          <AvatarImage>
            <img src="https://github.com/withastro.png" alt="@withastro" />
          </AvatarImage>
          <AvatarFallback>AW</AvatarFallback>
        </Avatar>
        <Avatar>
          <AvatarImage>
            <img src="https://github.com/thomkrupa.png" alt="@thomkrupa" />
          </AvatarImage>
          <AvatarFallback>TK</AvatarFallback>
        </Avatar>
        <Avatar>
          <AvatarImage>
            <img src="https://github.com/bejamas.png" alt="@bejamas" />
          </AvatarImage>
          <AvatarFallback>BJ</AvatarFallback>
        </Avatar>

        <div class="flex ml-5 gap-0.5 flex-col">
          <p class="text-sm font-medium leading-none">Team</p>
          <p class="text-muted-foreground text-sm leading-none">10 members</p>
        </div>
      </div>

      <div class="flex w-full flex-wrap gap-3 mt-10">
        <Badge>Badge</Badge>
        <Badge variant="secondary">Secondary</Badge>
        <Badge variant="destructive">Destructive</Badge>
        <Badge variant="outline">Outline</Badge>
      </div>

      <div>
        <Label
          class="hover:bg-blue-50 shadow border-border flex items-start gap-3 rounded-lg border p-3 hover:border-blue-600 has-[:checked]:border-blue-600 has-[:checked]:bg-blue-50 dark:has-[:checked]:border-blue-900 dark:has-[:checked]:bg-blue-950 dark:hover:bg-blue-950"
        >
          <Checkbox
            id="toggle-2"
            defaultChecked
            class="checked:border-blue-600 checked:bg-blue-600 dark:checked:border-blue-700 dark:checked:bg-blue-700 dark:hover:border-blue-700"
          />
          <div class="grid gap-1.5 font-normal">
            <p class="text-sm leading-none font-medium">Enable notifications</p>
            <p class="text-muted-foreground text-sm">
              You can enable or disable notifications at any time.
            </p>
          </div>
        </Label>
      </div>

      <div class="mt-10">
        <Input type="url" placeholder="https://bejamas.com" />
      </div>
    </div>
  </section>
</BlockExampleLayout>
